:root {
	--background-colour: rgb(0, 0, 0);
	--card-bg: rgb(18, 18, 18);
	--card-tags: rgb(34, 34, 34);
	--card-tags-hover: rgb(25, 25, 25);
	--primary-colour: rgb(255, 85, 85);
	--text-colour: rgb(211, 207, 201);
	--text-subdued: rgb(163, 163, 163);
	font-weight: 500;
	font-size: max(16px, 0.8vw);
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	color: var(--text-colour);
	height: 100vh;
}

#root {
	height: 100%;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--primary-colour);
}

h1,
h2 {
	line-height: 1.2em;
}

h1 {
	font-size: min(15vw, 6rem);
}

h2 {
	font-size: min(10vw, 3rem);
}

h3 {
	font-size: min(7.5vw, 2.5rem);
}

h4 {
	font-size: min(5vw, 1.2rem);
}

a {
	color: var(--text-colour);
	text-decoration: none;
}

a:hover {
	color: var(--primary-colour);
}
