:root {
	--background-colour: rgb(0, 0, 0);
	--card-bg: rgb(18, 18, 18);
	--card-tags: rgb(34, 34, 34);
	--primary-colour: rgb(255, 85, 85);
	--text-colour: rgb(211, 207, 201);
	font-weight: 500;
	font-size: 16px;
}

* {
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	margin: 0;
	font-family: "Inter", -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
		"Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	color: var(--text-colour);
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
	margin: 0;
	line-height: 1.5em;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	color: var(--primary-colour);
}

h1,
h2 {
	line-height: 1.2em;
}

h1 {
	font-size: min(15vw, 6rem);
}

h2 {
	font-size: 3rem;
}

a {
	color: var(--text-colour);
}

a:hover {
	color: var(--primary-colour);
}
